.header{
    height: 10vh;
    padding: 2vh 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header--item{
    font-size: 1.2rem;
    color: green;
}
