.user-page-contacts{
margin: 3vh 0;
}

/* .user-page-contacts-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
} */

.user-page-contacts-item{
    padding: 0.5vh 0;
    display: grid;
    grid-template-columns: 6fr 3fr;

}

.user-page-contacts-new{
    margin-top: 3.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}